/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
    display: inline-block;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
    display: none;
}

$linkColor:             #6D88B9;
$iconSpritePath:          "/bolt-public/view/img/glyphicons-halflings.png"; // TODO
$iconWhiteSpritePath:     "/bolt-public/view/img/glyphicons-halflings-white.png"; // TODO

//@import "../../lib/bsl/scss/base-styling.scss";
@import "../../vendor/twitter/bootstrap/twitter/bootstrap/lib/variables";

$baseFontFamily:        $serifFontFamily;
$altFontFamily:         $sansFontFamily;

@import "../../vendor/twitter/bootstrap/twitter/bootstrap/lib/mixins";
@import "../../vendor/twitter/bootstrap/twitter/bootstrap/lib/reset";
@import "../../vendor/twitter/bootstrap/twitter/bootstrap/lib/type";
@import "../../vendor/twitter/bootstrap/twitter/bootstrap/lib/scaffolding";

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5,
h6 {
    font-size: 1.0em;
}

blockquote {
    margin: 1em 2em;
    font-style: italic;
}

pre, code {
    font-family: monospace;
}