$webroot: "/";

@import "mixins/linear-gradient";

@import "style";

@import "zenlike";

*
{
    font-family: Georgia, "Times New Roman", serif;
}

#headercontent
{
    h1 a
    {
        color: #fff;
        text-decoration: none;
    }
    
    h2 span.version
    {
        vertical-align: super;
        font-size: 80%;
    }
}

#primarycontent > h1:first-child
{
    margin-top: 0;
}

div.news span.datetime,
span.blog-date
{
    font-size: 0.8em;
    margin-right: 0.5em;
}

div.contact, div.news
{
    ul li
    {
        list-style-type: none;
        margin-left: 0;
    }
}

#footer,
#footer a
{
    color: #999;
}

#social-tools
{
    height: 65px;
    clear: both;
    overflow: hidden;

    .button
    {
        float: left;
        margin-right: 5px;
    }

    .google-plusone
    {
        padding-top: 1px;
    }
}

#outer
{
    width: 95%;
    max-width: 1100px;
}

#primarycontainer,
#secondarycontent
{
    float: none;
    width: auto;
    margin-right: 0;
}

#primarycontainer
{
    margin-bottom: 2em;
}

#primarycontent
{
    margin-right: 0;
    margin-top: 0;
}

.box
{
    top: auto;
    left: auto;

    h3
    {
        margin: 0;

        a {
            color: #333333;
        }
    }

    .contentarea
    {
        padding-top: 0;

        ul
        {
            margin: 0;
        }
    }

    .news {
        .datetime {
            display: block;
            width: 50px;
            margin-right: 0;
            float: left;
        }
        .title {
            display: block;
            margin-left: 50px;
        }
    }
}

#menu ul li
{
    margin-left: 0;
}

#headercontent
{
    padding-bottom: 0.8em;

    h1
    {
        font-size: 2.5em;
        padding-top: 0.5em;
        font-weight: bold;

        &, a {
            font-family: monospace;
        }
    }

    h2
    {
        font-size: 1.3em;
        line-height: 0.7em;

        &, span.version
        {
            font-family: monospace;
        }
    }
}

body
{
    padding: 15px 0;
}

#header
{
    height: 7em;
}

#footer
{
    margin-top: 3em;
    padding: 1em;
    height: auto;
    min-height: 2em;

    .left,
    .right
    {
        position: relative;
        left: auto;
        bottom: auto;
        right: auto;
    }
}

@media screen and (min-width: 641px)
{
    #primarycontainer
    {
        float: left;
        margin-right: -18em;
        width: 100%;
    }

    #primarycontent
    {
        margin-right: 22em;
    }

    #secondarycontent
    {
        float: right;
        margin-top: 1.5em;
        width: 18em;
    }

    .box
    {
        left: -1.5em;
        top: -1.5em;
    }

    #headercontent h1
    {
        h1
        {
            font-size: 2.5em;
        }

        h2
        {
            font-size: 1.5em;
        }
    }

    body
    {
        padding: 35px 0;
    }

    #header
    {
        height: 9em;
    }

    #footer
    {
        padding-top: 2em;

        .left
        {
            position: absolute;
            left: 2.0em;
            bottom: 1.2em;
        }

        .right
        {
            position: absolute;
            right: 2.0em;
            bottom: 1.2em;
        }
    }
}

@media screen and (max-width: 480px)
{
    #outer
    {
        width: 95%;
    }

    #headercontent
    {
        h1
        {
            font-size: 2em;
        }

        h2
        {
            font-size: 1.2em;
            line-height: 0.5em;
        }
    }
}

@media screen and (min-width: 481px)
{
    #social-tools .button
    {
        margin-right: 20px;
    }
}

@media screen and (max-width: 960px)
{
    #outer
    {
        width: 90%;
    }
}

@media screen and (min-width: 961px)
{
    #outer
    {
        width: 85%;
    }
}

#header
{
    @include linear-gradient-top-bottom( #393939, #2b2b2b );
}

#menu
{
    @include linear-gradient-top-middle-bottom( #6d88b9, #85a3df, #6d88b9);
}

#menu ul li.active a, #menu ul li a.active
{
    @include linear-gradient-top-bottom-semitranparent( rgba(51, 51, 51, 0.43), rgba(51, 51, 51, 0));
}

.box
{
    @include linear-gradient-top-bottom( #ececec, #fdfdfd);
    border-bottom: 1px solid #ececec;
}

#footer
{
    border-top: 1px solid #d3d3d3;
    background-position: 0 0;
    @include linear-gradient-top-bottom( #f7f7f7, #fff );
}

html {
    background-color: #ccc;
}

body
{
    @include linear-gradient-top-bottom( #333, #ccc );
}

#upbg
{
    @include linear-gradient-top-bottom-semitranparent( #000000, rgba( 140, 140, 140, 0 ) );
}

article.blog-intro h2,
article.blog h1 {
    margin-bottom: 0;
}

#menubottom
{
    @include linear-gradient-top-bottom( #d9d9d9, #fff );
}

p.meta {
    color: #333333;
    font-size: 0.9em;
    font-style: italic;
}

.top-notice {
  width:  100%;
  text-align: center;
  background-color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  font-family: monospace;
}

.syntaxhighlighter {
    padding-bottom: 1px;
}