$webroot: "/";

@import "mixins/linear-gradient";

@import "style";
//@import "../../lib/bsl/scss/generic-styling";

//@import "../../lib/news/scss/item.scss";
//@import "../../lib/event/scss/item.scss";

@import "zenlike";

*
{
    font-family: 'Lora', serif;
}

#headercontent
{
    h1 a
    {
        color: #fff;
        text-decoration: none;
    }
    
    h2 span.version
    {
        vertical-align: super;
        font-size: 80%;
    }
}

#primarycontent > h1:first-child
{
    margin-top: 0;
}

div.quote p
{
    text-align: left;

    &.quote-name
    {
        font-style: italic;
        text-align: right;
    }
}

div.news span.datetime
{
    font-size: 0.9em;
    margin-right: 0.5em;
}

div.event span.datetime
{
    font-size: 0.9em;
    display: block;
}

div.contact, div.news, div.event
{
    ul li
    {
        list-style-type: none;
        margin-left: 0;
    }
}

ul.NewsItemRecentList,
ul.NewsItemArchive,
ul.event-item-recent-list,
ul.event-item-archive
{
    li
    {
        margin-left: 0;
    }
}

#footer,
#footer a
{
    color: #999;
}

#social-tools
{
    height: 65px;
    clear: both;
    overflow: hidden;

    .button
    {
        float: left;
        margin-right: 5px;
    }

    .google-plusone
    {
        padding-top: 1px;
    }
}

div.quotes-container
{
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px dotted #B96D00;

    div.quote
    {
        width: 190px;
        margin: 10px;
    }
}

#outer
{
    width: 95%;
    max-width: 1100px;
}

#primarycontainer,
#secondarycontent
{
    float: none;
    width: auto;
    margin-right: 0;
}

#primarycontainer
{
    margin-bottom: 2em;
}

#primarycontent
{
    margin-right: 0;
    margin-top: 0;
}

.box
{
    top: auto;
    left: auto;

    h3
    {
        margin: 0;

        a {
            color: #333333;
        }
    }

    .contentarea
    {
        ul
        {
            margin: 0;
        }
    }
}

#menu ul li
{
    margin-left: 0;
}

#headercontent
{
    padding-bottom: 0.8em;

    h1
    {
        font-size: 2.5em;
        font-family: 'Fredericka the Great', cursive;
        padding-top: 0.5em;
    }

    h2
    {
        font-size: 1.5em;
        line-height: 0.7em;

        &, span.version
        {
            font-family: 'Swanky and Moo Moo', cursive;
        }
    }
}

body
{
    padding: 15px 0;
}

#header
{
    height: 7em;
}

#footer
{
    margin-top: 3em;
    padding: 1em;
    height: auto;
    min-height: 2em;

    .left,
    .right
    {
        position: relative;
        left: auto;
        bottom: auto;
        right: auto;
    }
}

@media screen and (min-width: 641px)
{
    #primarycontainer
    {
        float: left;
        margin-right: -18em;
        width: 100%;
    }

    #primarycontent
    {
        margin-right: 22em;
    }

    #secondarycontent
    {
        float: right;
        margin-top: 1.5em;
        width: 18em;
    }

    .box
    {
        left: -1.5em;
        top: -1.5em;
    }

    #headercontent h1
    {
        h1
        {
            font-size: 2.5em;
        }

        h2
        {
            font-size: 1.5em;
        }
    }

    body
    {
        padding: 35px 0;
    }

    #header
    {
        height: 9em;
    }

    #footer
    {
        padding-top: 2em;

        .left
        {
            position: absolute;
            left: 2.0em;
            bottom: 1.2em;
        }

        .right
        {
            position: absolute;
            right: 2.0em;
            bottom: 1.2em;
        }
    }
}

@media screen and (max-width: 480px)
{
    #outer
    {
        width: 95%;
    }

    #headercontent
    {
        h1
        {
            font-size: 2em;
        }

        h2
        {
            font-size: 1.2em;
            line-height: 0.5em;
        }
    }
}

@media screen and (min-width: 481px)
{
    #social-tools .button
    {
        margin-right: 20px;
    }
}

@media screen and (max-width: 960px)
{
    #outer
    {
        width: 90%;
    }
}

@media screen and (min-width: 961px)
{
    #outer
    {
        width: 85%;
    }
}

#header
{
    @include linear-gradient-top-bottom( #393939, #2b2b2b );
}

#menu
{
    @include linear-gradient-top-middle-bottom( #7f8400, #9ba01d, #7f8400 );
}

#menu ul li.active a, #menu ul li a.active
{
    @include linear-gradient-top-bottom( #5e6200, #7f8400 );
}

.box
{
    @include linear-gradient-top-bottom( #f7f4dd, #fdfcf5 );
}

#footer
{
    border-top: 1px solid #d3d3d3;
    background-position: 0 0;
    @include linear-gradient-top-bottom( #f7f7f7, #fff );
}

body
{
    @include linear-gradient-top-bottom( #ab8c6f, #ccad91 );
}

#upbg
{
    @include linear-gradient-top-bottom-semitranparent( #62462e, rgba( 171, 140, 111, 0 ) );
}

#menubottom
{
    @include linear-gradient-top-bottom( #d9d9d9, #fff );
}