<article>
    <div class="meta">
        <h1><a href="{{ record.link }}">{{ record.title }}</a></h1>

        <p class="date">
            Published on <strong>{{ record.datepublish|date("M jS Y")}}</strong>
        </p>
    </div>

    {{ record.teaser }}

</article>