/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
.google-maps img {
  max-width: none; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

@media print {
  * {
    text-shadow: none !important;
    color: black !important;
    background: transparent !important;
    box-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
p {
  margin: 0 0 10px; }

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

cite {
  font-style: normal; }

.muted {
  color: #999999; }

a.muted:hover,
a.muted:focus {
  color: gray; }

.text-warning {
  color: #c09853; }

a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c; }

.text-error {
  color: #b94a48; }

a.text-error:hover,
a.text-error:focus {
  color: #953b39; }

.text-info {
  color: #3a87ad; }

a.text-info:hover,
a.text-info:focus {
  color: #2d6987; }

.text-success {
  color: #468847; }

a.text-success:hover,
a.text-success:focus {
  color: #356635; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }

h1,
h2,
h3 {
  line-height: 40px; }

h1 {
  font-size: 38.5px; }

h2 {
  font-size: 31.5px; }

h3 {
  font-size: 24.5px; }

h4 {
  font-size: 17.5px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 11.9px; }

h1 small {
  font-size: 24.5px; }

h2 small {
  font-size: 17.5px; }

h3 small {
  font-size: 14px; }

h4 small {
  font-size: 14px; }

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee; }

ul, ol {
  padding: 0;
  margin: 0 0 10px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

li {
  line-height: 20px; }

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none; }
  ul.inline > li,
  ol.inline > li {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    padding-left: 5px;
    padding-right: 5px; }

dl {
  margin-bottom: 20px; }

dt,
dd {
  line-height: 20px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 10px; }

.dl-horizontal {
  *zoom: 1; }
  .dl-horizontal:before, .dl-horizontal:after {
    display: table;
    content: "";
    line-height: 0; }
  .dl-horizontal:after {
    clear: both; }
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 180px; }

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999; }

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee; }
  blockquote p {
    margin-bottom: 0;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25; }
  blockquote small {
    display: block;
    line-height: 20px;
    color: #999999; }
    blockquote small:before {
      content: '\2014 \00A0'; }
  blockquote.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eeeeee;
    border-left: 0; }
    blockquote.pull-right p,
    blockquote.pull-right small {
      text-align: right; }
    blockquote.pull-right small:before {
      content: ''; }
    blockquote.pull-right small:after {
      content: '\00A0 \2014'; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px; }

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: white; }

a {
  color: #6d88b9;
  text-decoration: none; }

a:hover,
a:focus {
  color: #466293;
  text-decoration: underline; }

.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px; }

h1 {
  font-size: 1.6em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

h5,
h6 {
  font-size: 1.0em; }

blockquote {
  margin: 1em 2em;
  font-style: italic; }

pre, code {
  font-family: monospace;
  margin: 0 0 10px; }

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1; }
  .container:before, .container:after {
    display: table;
    content: "";
    line-height: 0; }
  .container:after {
    clear: both; }

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1; }
  .container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
    line-height: 0; }
  .container-fluid:after {
    clear: both; }

.nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none; }

.nav > li > a {
  display: block; }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee; }

.nav > li > a > img {
  max-width: none; }

.nav > .pull-right {
  float: right; }

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase; }

.nav li + .nav-header {
  margin-top: 9px; }

.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0; }

.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.nav-list > li > a {
  padding: 3px 15px; }

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #6d88b9; }

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px; }

.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid white; }

.nav-tabs,
.nav-pills {
  *zoom: 1; }
  .nav-tabs:before, .nav-tabs:after,
  .nav-pills:before,
  .nav-pills:after {
    display: table;
    content: "";
    line-height: 0; }
  .nav-tabs:after,
  .nav-pills:after {
    clear: both; }

.nav-tabs > li,
.nav-pills > li {
  float: left; }

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px; }

.nav-tabs {
  border-bottom: 1px solid #dddddd; }

.nav-tabs > li {
  margin-bottom: -1px; }

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }
  .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #dddddd; }

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  background-color: white;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default; }

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: white;
  background-color: #6d88b9; }

.nav-stacked > li {
  float: none; }

.nav-stacked > li > a {
  margin-right: 0; }

.nav-tabs.nav-stacked {
  border-bottom: 0; }

.nav-tabs.nav-stacked > li > a {
  border: 1px solid #dddddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px; }

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px; }

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  border-color: #ddd;
  z-index: 2; }

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px; }

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px; }

.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px; }

.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.nav .dropdown-toggle .caret {
  border-top-color: #6d88b9;
  border-bottom-color: #6d88b9;
  margin-top: 6px; }

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #466293;
  border-bottom-color: #466293; }

/* move down carets for tabs */
.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px; }

.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff; }

.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555; }

.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus {
  cursor: pointer; }

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  color: white;
  background-color: #999999;
  border-color: #999999; }

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret {
  border-top-color: white;
  border-bottom-color: white;
  opacity: 1;
  filter: alpha(opacity=100); }

.tabs-stacked .open > a:hover,
.tabs-stacked .open > a:focus {
  border-color: #999999; }

.tabbable {
  *zoom: 1; }
  .tabbable:before, .tabbable:after {
    display: table;
    content: "";
    line-height: 0; }
  .tabbable:after {
    clear: both; }

.tab-content {
  overflow: auto; }

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0; }

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none; }

.tab-content > .active,
.pill-content > .active {
  display: block; }

.tabs-below > .nav-tabs {
  border-top: 1px solid #dddddd; }

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0; }

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }
  .tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus {
    border-bottom-color: transparent;
    border-top-color: #ddd; }

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #dddddd #dddddd #dddddd; }

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none; }

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #dddddd; }

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee; }

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #dddddd transparent #dddddd #dddddd;
  *border-right-color: white; }

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #dddddd; }

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd; }

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #dddddd #dddddd #dddddd transparent;
  *border-left-color: white; }

.nav > .disabled > a {
  color: #999999; }

.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  cursor: default; }

.navbar {
  overflow: visible;
  margin-bottom: 20px;
  *position: relative;
  *z-index: 2; }

.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, white, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  background-image: -o-linear-gradient(top, white, #f2f2f2);
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1; }
  .navbar-inner:before, .navbar-inner:after {
    display: table;
    content: "";
    line-height: 0; }
  .navbar-inner:after {
    clear: both; }

.navbar .container {
  width: auto; }

.nav-collapse.collapse {
  height: auto;
  overflow: visible; }

.navbar .brand {
  float: left;
  display: block;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 white; }
  .navbar .brand:hover, .navbar .brand:focus {
    text-decoration: none; }

.navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: #777777; }

.navbar-link {
  color: #777777; }
  .navbar-link:hover, .navbar-link:focus {
    color: #333333; }

.navbar .divider-vertical {
  height: 40px;
  margin: 0 9px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid white; }

.navbar .btn,
.navbar .btn-group {
  margin-top: 5px; }

.navbar .btn-group .btn,
.navbar .input-prepend .btn,
.navbar .input-append .btn,
.navbar .input-prepend .btn-group,
.navbar .input-append .btn-group {
  margin-top: 0; }

.navbar-form {
  margin-bottom: 0;
  *zoom: 1; }
  .navbar-form:before, .navbar-form:after {
    display: table;
    content: "";
    line-height: 0; }
  .navbar-form:after {
    clear: both; }
  .navbar-form input,
  .navbar-form select,
  .navbar-form .radio,
  .navbar-form .checkbox {
    margin-top: 5px; }
  .navbar-form input,
  .navbar-form select,
  .navbar-form .btn {
    display: inline-block;
    margin-bottom: 0; }
  .navbar-form input[type="image"],
  .navbar-form input[type="checkbox"],
  .navbar-form input[type="radio"] {
    margin-top: 3px; }
  .navbar-form .input-append,
  .navbar-form .input-prepend {
    margin-top: 5px;
    white-space: nowrap; }
    .navbar-form .input-append input,
    .navbar-form .input-prepend input {
      margin-top: 0; }

.navbar-search {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-bottom: 0; }
  .navbar-search .search-query {
    margin-bottom: 0;
    padding: 4px 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; }

.navbar-static-top {
  position: static;
  margin-bottom: 0; }
  .navbar-static-top .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0; }

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 1px; }

.navbar-fixed-bottom .navbar-inner {
  border-width: 1px 0 0; }

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px; }

.navbar-fixed-top {
  top: 0; }

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }

.navbar-fixed-bottom {
  bottom: 0; }
  .navbar-fixed-bottom .navbar-inner {
    -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); }

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0; }

.navbar .nav.pull-right {
  float: right;
  margin-right: 0; }

.navbar .nav > li {
  float: left; }

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 white; }

.navbar .nav .dropdown-toggle .caret {
  margin-top: 8px; }

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #333333;
  text-decoration: none; }

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  text-decoration: none;
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125); }

.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -o-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2F2F2', endColorstr='#FFE6E6E6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075); }
  .navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    color: white;
    background-color: #e6e6e6;
    *background-color: #d9d9d9; }
  .navbar .btn-navbar:active, .navbar .btn-navbar.active {
    background-color: #cccccc \9; }

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px; }

.navbar .nav > li > .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px; }
.navbar .nav > li > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  left: 10px; }

.navbar-fixed-bottom .nav > li > .dropdown-menu:before {
  border-top: 7px solid #cccccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  bottom: -7px;
  top: auto; }
.navbar-fixed-bottom .nav > li > .dropdown-menu:after {
  border-top: 6px solid white;
  border-bottom: 0;
  bottom: -6px;
  top: auto; }

.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555; }

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #e6e6e6;
  color: #555555; }

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #777777;
  border-bottom-color: #777777; }

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555; }

.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 0; }
  .navbar .pull-right > li > .dropdown-menu:before,
  .navbar .nav > li > .dropdown-menu.pull-right:before {
    left: auto;
    right: 12px; }
  .navbar .pull-right > li > .dropdown-menu:after,
  .navbar .nav > li > .dropdown-menu.pull-right:after {
    left: auto;
    right: 13px; }
  .navbar .pull-right > li > .dropdown-menu .dropdown-menu,
  .navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -1px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px; }

.navbar-inverse .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
  border-color: #252525; }
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #999999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
  .navbar-inverse .brand:hover, .navbar-inverse .brand:focus,
  .navbar-inverse .nav > li > a:hover,
  .navbar-inverse .nav > li > a:focus {
    color: white; }
.navbar-inverse .brand {
  color: #999999; }
.navbar-inverse .navbar-text {
  color: #999999; }
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: white; }
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: white;
  background-color: #111111; }
.navbar-inverse .navbar-link {
  color: #999999; }
  .navbar-inverse .navbar-link:hover, .navbar-inverse .navbar-link:focus {
    color: white; }
.navbar-inverse .divider-vertical {
  border-left-color: #111111;
  border-right-color: #222222; }
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #111111;
  color: white; }
.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: white;
  color: white; }
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999; }
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white; }
.navbar-inverse .navbar-search .search-query {
  color: white;
  background-color: #515151;
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }
  .navbar-inverse .navbar-search .search-query:-moz-placeholder {
    color: #cccccc; }
  .navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
    color: #cccccc; }
  .navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
    color: #cccccc; }
  .navbar-inverse .navbar-search .search-query:focus, .navbar-inverse .navbar-search .search-query.focused {
    padding: 5px 15px;
    color: #333333;
    text-shadow: 0 1px 0 white;
    background-color: white;
    border: 0;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    outline: 0; }
.navbar-inverse .btn-navbar {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  background-image: -moz-linear-gradient(top, #151515, #040404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
  background-image: -webkit-linear-gradient(top, #151515, #040404);
  background-image: -o-linear-gradient(top, #151515, #040404);
  background-image: linear-gradient(to bottom, #151515, #040404);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF151515', endColorstr='#FF040404', GradientType=0);
  border-color: #040404 #040404 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #040404;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
  .navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
    color: white;
    background-color: #040404;
    *background-color: black; }
  .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active {
    background-color: black \9; }

@media (max-width: 979px) {
  body {
    padding-top: 0; }

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static; }

  .navbar-fixed-top {
    margin-bottom: 20px; }

  .navbar-fixed-bottom {
    margin-top: 20px; }

  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px; }

  .navbar .container {
    width: auto;
    padding: 0; }

  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px; }

  .nav-collapse {
    clear: both; }

  .nav-collapse .nav {
    float: none;
    margin: 0 0 10px; }

  .nav-collapse .nav > li {
    float: none; }

  .nav-collapse .nav > li > a {
    margin-bottom: 2px; }

  .nav-collapse .nav > .divider-vertical {
    display: none; }

  .nav-collapse .nav .nav-header {
    color: #777777;
    text-shadow: none; }

  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }

  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px; }

  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background-color: #f2f2f2; }

  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #999999; }

  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #111111; }

  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0; }

  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: none;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  .nav-collapse .open > .dropdown-menu {
    display: block; }

  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none; }

  .nav-collapse .dropdown-menu .divider {
    display: none; }

  .nav-collapse .nav > li > .dropdown-menu:before, .nav-collapse .nav > li > .dropdown-menu:after {
    display: none; }

  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #111111;
    border-bottom-color: #111111; }

  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0; }

  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0; }

  .navbar .btn-navbar {
    display: block; }

  .navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important; } }
/*

	zenlike1.0 by nodethirtythree design
	http://www.nodethirtythree.com

*/
* {
  padding: 0em;
  margin: 0em; }

body {
  background: black url("/img/zenlike/bg1.jpg");
  padding: 35px 0px 35px 0px; }

body, input {
  font-size: 10pt;
  font-family: "georgia", "times new roman", serif;
  color: #333333; }

.contentarea {
  padding-top: 1.3em; }

img.left {
  position: relative;
  float: left;
  margin: 0em 1.8em 1.4em 0em; }

img.right {
  position: relative;
  float: right;
  margin: 0em 0em 1.8em 1.8em; }

.divider1 {
  position: relative;
  background: white url("/img/zenlike/border2.gif") repeat-x;
  height: 14px;
  margin: 2em 0em 1.5em 0em;
  clear: both; }

.divider2 {
  position: relative;
  height: 1px;
  border-bottom: solid 1px #eaeaea;
  margin: 2em 0em 2em 0em; }

.post .details {
  position: relative;
  top: -1.5em;
  font-size: 0.8em;
  color: #787878; }

.post ul.controls {
  clear: both; }

.post ul.controls li {
  display: inline;
  font-size: 0.8em; }

.post ul.controls li a {
  background-repeat: no-repeat;
  background-position: left;
  padding: 0em 1em 0em 20px; }

.post ul.controls li a.printerfriendly {
  background-image: url("/img/zenlike/icon-printerfriendly.gif"); }

.post ul.controls li a.comments {
  background-image: url("/img/zenlike/icon-comments.gif"); }

.post ul.controls li a.more {
  background-image: url("/img/zenlike/icon-more.gif"); }

.box {
  position: relative;
  background: #fdfcf6 url("/img/zenlike/boxbg.gif") repeat-x;
  left: -1.5em;
  top: -1.5em;
  padding: 1.5em;
  border-bottom: solid 1px #e1d2bd;
  margin-bottom: 1.0em; }

ul.linklist {
  list-style: none; }

ul.linklist li {
  line-height: 2.0em; }

#upbg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 275px;
  background: white url("/img/zenlike/bg2.jpg") repeat-x;
  z-index: 1; }

#outer {
  z-index: 2;
  position: relative;
  /*
      The width value below controls the overall width of the design. By default it's set to 82%
      (so it'll take up 82% of the browser window's width). You can set it to a different percentage
      value (70%, 90%, etc.) or even a pixel value (760px, 800px, etc.) to enforce a fixed width.
  */
  width: 82%;
  border: solid 7px white;
  background-color: #fff;
  margin: 0 auto; }

#header {
  position: relative;
  width: 100%;
  height: 9.0em;
  background: #2b2b2b url("/img/zenlike/topbg.gif") repeat-x;
  margin-bottom: 2px; }

#headercontent {
  position: absolute;
  bottom: 0em;
  padding: 0em 2em 1.3em 2em; }

#headercontent h1 {
  font-weight: normal;
  color: #fff;
  font-size: 2.5em; }

#headercontent h2 {
  font-size: 1.0em;
  font-weight: normal;
  color: #aaa; }

#search {
  position: absolute;
  top: 5.5em;
  right: 2.0em;
  padding-right: 0.0em; }

#search input.text {
  margin-right: 0.5em;
  vertical-align: middle;
  border-top: solid 1px black;
  border-right: 0px;
  border-bottom: solid 1px #777777;
  border-left: 0px;
  padding: 0.15em;
  width: 10.0em; }

#search input.submit {
  background: #939b00 url("/img/zenlike/buttonbg.gif") repeat-x;
  border: solid 1px #5f6800;
  font-weight: bold;
  padding: 0.25em;
  font-size: 0.8em;
  color: #F2F3DE;
  vertical-align: middle; }

#headerpic {
  position: relative;
  height: 109px;
  background: white url("/img/zenlike/hdrpic.jpg") no-repeat top left;
  margin-bottom: 2px; }

#menu {
  position: relative;
  background: #7f8400 url("/img/zenlike/menubg.gif") repeat-x top left;
  height: 3.5em;
  padding: 0em 1em 0em 1em;
  margin-bottom: 2px; }

#menu ul {
  position: absolute;
  top: 1.1em; }

#menu ul li {
  position: relative;
  display: inline; }

#menu ul li a {
  padding: 0.5em 1em 0.9em 1em;
  color: #fff;
  text-decoration: none; }

#menu ul li a:hover {
  text-decoration: underline; }

#menu ul li.active a,
#menu ul li a.active {
  background: #7f8400 url("/img/zenlike/menuactive.gif") repeat-x top left; }

#menubottom {
  background: white url("/img/zenlike/border1.gif") repeat-x;
  height: 14px;
  margin-bottom: 1.5em; }

#content {
  padding: 0em 2em 0em 2em; }

#primarycontainer {
  float: left;
  margin-right: -18.0em;
  width: 100%; }

#primarycontent {
  margin: 1.5em 22em 0em 0em; }

#secondarycontent {
  margin-top: 1.5em;
  float: right;
  width: 18.0em; }

#footer {
  position: relative;
  height: 2.0em;
  clear: both;
  padding-top: 5.0em;
  background: white url("/img/zenlike/border2.gif") repeat-x 0em 2.5em;
  font-size: 0.8em; }

#footer .left {
  position: absolute;
  left: 2.0em;
  bottom: 1.2em; }

#footer .right {
  position: absolute;
  right: 2.0em;
  bottom: 1.2em; }

.pagination {
  margin: 20px 0; }

.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

.pagination ul > li {
  display: inline; }

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #dddddd;
  border-left-width: 0; }

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: whitesmoke; }

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default; }

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  background-color: transparent;
  cursor: default; }

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px; }

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px; }

.pagination-centered {
  text-align: center; }

.pagination-right {
  text-align: right; }

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px; }
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px; }
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px; }

.pagination-mini ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px; }
.pagination-mini ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px; }

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px; }

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0px 6px;
  font-size: 10.5px; }

* {
  font-family: Georgia, "Times New Roman", serif; }

#headercontent h1 a {
  color: #fff;
  text-decoration: none; }
#headercontent h2 span.version {
  vertical-align: super;
  font-size: 80%; }

#primarycontent > h1:first-child {
  margin-top: 0; }

div.news span.datetime,
span.blog-date {
  font-size: 0.8em;
  margin-right: 0.5em; }

div.event span.datetime {
  font-size: 0.8em;
  display: block; }

div.contact ul li, div.news ul li, div.event ul li {
  list-style-type: none;
  margin-left: 0; }

ul.NewsItemRecentList li,
ul.NewsItemArchive li,
ul.event-item-recent-list li,
ul.event-item-archive li {
  margin-left: 0; }

#footer,
#footer a {
  color: #999; }

#social-tools {
  height: 65px;
  clear: both;
  overflow: hidden; }
  #social-tools .button {
    float: left;
    margin-right: 5px; }
  #social-tools .google-plusone {
    padding-top: 1px; }

#outer {
  width: 95%;
  max-width: 1100px;
  margin-top: 25px; }

#primarycontainer,
#secondarycontent {
  float: none;
  width: auto;
  margin-right: 0; }

#primarycontainer {
  margin-bottom: 2em; }

#primarycontent {
  margin-right: 0;
  margin-top: 0; }
  #primarycontent img {
    max-width: 100%; }
  #primarycontent p img {
    margin: 0 1em 1em; }

.box {
  top: auto;
  left: auto; }
  .box h3 {
    margin: 0;
    margin-bottom: 0.5em;
    line-height: normal; }
    .box h3 a {
      color: #333333; }
  .box .contentarea {
    padding-top: 0; }
    .box .contentarea ul {
      margin: 0; }
      .box .contentarea ul li a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }

#menu ul li {
  margin-left: 0; }

#headercontent {
  padding-bottom: 0.8em; }
  #headercontent h1 {
    font-size: 2.5em;
    padding-top: 0.5em;
    font-weight: bold; }
    #headercontent h1, #headercontent h1 a {
      font-family: monospace; }
  #headercontent h2 {
    font-size: 1.5em;
    line-height: 0.7em; }
    #headercontent h2, #headercontent h2 span.version {
      font-family: monospace; }

body {
  padding: 15px 0; }

#header {
  height: 7em; }

#footer {
  margin-top: 3em;
  padding: 1em;
  height: auto;
  min-height: 2em; }
  #footer .left,
  #footer .right {
    position: relative;
    left: auto;
    bottom: auto;
    right: auto; }

@media screen and (min-width: 641px) {
  #primarycontainer {
    float: left;
    margin-right: -18em;
    width: 100%; }

  #primarycontent {
    margin-right: 22em; }

  #secondarycontent {
    float: right;
    margin-top: 1.5em;
    width: 18em; }

  .box {
    left: -1.5em;
    top: -1.5em; }

  #headercontent h1 h1 {
    font-size: 2.5em; }
  #headercontent h1 h2 {
    font-size: 1.5em; }

  body {
    padding: 35px 0; }

  #header {
    height: 9em; }

  #footer {
    padding-top: 2em; }
    #footer .left {
      position: absolute;
      left: 2.0em;
      bottom: 1.2em; }
    #footer .right {
      position: absolute;
      right: 2.0em;
      bottom: 1.2em; } }
@media screen and (max-width: 480px) {
  #outer {
    width: 95%; }

  #headercontent h1 {
    font-size: 2em; }
  #headercontent h2 {
    font-size: 1.2em;
    line-height: 0.5em; } }
@media screen and (min-width: 481px) {
  #social-tools .button {
    margin-right: 20px; } }
@media screen and (max-width: 960px) {
  #outer {
    width: 90%; } }
@media screen and (min-width: 961px) {
  #outer {
    width: 85%; } }
#header {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#2b2b2b));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #393939, #2b2b2b);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #393939, #2b2b2b);
  /* IE < 10 */
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#393939', endColorstr='#2b2b2b');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939', endColorstr='#2b2b2b')";
  /* IE 10 */
  background: -ms-linear-gradient(top, #393939, #2b2b2b);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #393939, #2b2b2b); }

#menu {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6d88b9), color-stop(0.5, #85a3df), to(#6d88b9));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #6d88b9, #85a3df, #6d88b9);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #6d88b9, #85a3df, #6d88b9);
  /* IE < 10, no middle */
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#6d88b9', endColorstr='#6d88b9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d88b9', endColorstr='#6d88b9')";
  /* IE 10 */
  background: -ms-linear-gradient(top, #6d88b9, #85a3df, #6d88b9);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #6d88b9, #85a3df, #6d88b9); }

#menu ul li.active a, #menu ul li a.active {
  /* IE < 10 */
  background: none;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0.43)), to(rgba(51, 51, 51, 0)));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0.43), rgba(51, 51, 51, 0));
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, rgba(51, 51, 51, 0.43), rgba(51, 51, 51, 0));
  /* IE 10 */
  background: -ms-linear-gradient(top, rgba(51, 51, 51, 0.43), rgba(51, 51, 51, 0));
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, rgba(51, 51, 51, 0.43), rgba(51, 51, 51, 0)); }

.box {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#fdfdfd));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ececec, #fdfdfd);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ececec, #fdfdfd);
  /* IE < 10 */
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#ececec', endColorstr='#fdfdfd');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#fdfdfd')";
  /* IE 10 */
  background: -ms-linear-gradient(top, #ececec, #fdfdfd);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ececec, #fdfdfd);
  border-bottom: 1px solid #ececec; }

#footer {
  border-top: 1px solid lightgrey;
  background-position: 0 0;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(white));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #f7f7f7, white);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #f7f7f7, white);
  /* IE < 10 */
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f7f7f7', endColorstr='white');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='white')";
  /* IE 10 */
  background: -ms-linear-gradient(top, #f7f7f7, white);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #f7f7f7, white); }

html {
  background-color: #CCCCCC; }

body {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#cccccc));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #333333, #cccccc);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #333333, #cccccc);
  /* IE < 10 */
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#333333', endColorstr='#cccccc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#cccccc')";
  /* IE 10 */
  background: -ms-linear-gradient(top, #333333, #cccccc);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #333333, #cccccc); }

#menubottom {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(white));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #d9d9d9, white);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #d9d9d9, white);
  /* IE < 10 */
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#d9d9d9', endColorstr='white');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='white')";
  /* IE 10 */
  background: -ms-linear-gradient(top, #d9d9d9, white);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #d9d9d9, white); }

p.meta {
  color: #333333;
  font-size: 0.9em;
  font-style: italic; }

.news-intro {
  margin-bottom: 1em; }
  .news-intro h2 {
    line-height: normal;
    margin: 0; }
  .news-intro p.meta {
    margin: 0; }

article.blog h1 {
  line-height: normal;
  margin-bottom: 0; }

.syntaxhighlighter {
  padding-bottom: 1px; }
