{% extends "layout/box/base.twig" %}

{% block contentarea_class %}news{% endblock %}

{% block content %}
<ul>
{% for item in items %}
    <li>
        <a title="{{ item.title }}" href="{{ item.link }}"><span class="datetime">{{ item.date|date("M jS") }}</span><span class="title">{{ item.title }}</span></a>
    </li>
{% endfor %}
</ul>
{% endblock %}