<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Richard Hinkamp">
    <title>{% if record.title is defined %}{{ record.title|striptags }}{% else %}Richard Hinkamp - Blog{% endif %}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="http://alexgorbatchev.com/pub/sh/current/styles/shCore.css" rel="stylesheet" type="text/css" />
    <link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>
<body>

<header class="welcome">
    <div class="wrapper">
        <h1><a href="/">Richard Hinkamp</a></h1>
        <p class="intro">I may write some software development related <a href="/blogs">blog</a> once in a while</a>.</p>
        <div class="icons">
            <a href="https://twitter.com/RichardHinkamp" target="_blank" title="Twitter account van Richard Hinkamp" class="twitter">
                Twitter
            </a>
            <a href="mailto:richard@hinkamp.nl" target="_blank" title="E-mail van Richard Hinkamp" class="email">
                E-mail
            </a>
            <a href="http://nl.linkedin.com/in/richardhinkamp/" target="_blank" title="LinkedIn profiel van Richard Hinkamp" class="linkedin">
                LinkedIn
            </a>
        </div>
    </div>
</header>

{% block page_content %}{% endblock %}

{#<section class="paginator">
</section>#}

<footer>
    <p>&copy; 2011-{{ "now"|date("Y") }} <a href="http://richardhinkamp.nl/" target="_blank">Richard Hinkamp</a> - <a href="/sitemap" title="Sitemap">Sitemap</a></p>
</footer>

{% block js_files %}{% endblock %}
{% if app.config.get('general/debug') == true %}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39943579-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
{% endif %}
</body>
</html>
