{% extends "layout/layout.twig" %}

{% block page_content %}
    <article>
        <div class="meta">
            <h1>Blogs</h1>
        </div>
        <ul class="blogs">
            {% for record in records %}
                <li>
                    <a href="{{ record.link }}">{{ record.datepublish|date("M jS Y")}} {{ record.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
