{% extends "layout/layout.twig" %}

{% block page_content %}
    <article>
        <div class="meta">
            <h1><a href="{{ record.link }}">{{ record.title }}</a></h1>

            <p class="date">
                Published on <strong>{{ record.datepublish|date("M jS Y")}}</strong>
            </p>
        </div>
        {{ record.body }}
    </article>
{% endblock %}

{% block js_files %}
<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPlain.js" type="text/javascript"></script>
<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js" type="text/javascript"></script>
{#<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js" type="text/javascript"></script>#}
<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPhp.js" type="text/javascript"></script>
{#<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushCss.js" type="text/javascript"></script>#}
{#<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushSass.js" type="text/javascript"></script>#}
<script type="text/javascript">SyntaxHighlighter.all();</script>
{% endblock %}