{% extends "layout/layout.twig" %}

{% block page_content %}
    <article>
        <div class="meta">
            <h1>Page not found</h1>
        </div>
        <p>The requested URL "{{ app.request.getRequestUri }}" could not be found.</p>
    </article>
{% endblock %}
