{% extends "layout/layout.twig" %}

{% block page_content %}
    <h1>{{ page.title }}</h1>
    {{ page.body }}
{% setcontent entries = "blogs/latest/5" %}

{% for entry in entries %}
    {% include 'blocks/blog-intro.twig' with {'record': entry} only %}
{% endfor %}
{% endblock %}

