{% extends "page.twig" %}

{% block page_content %}
    {{ parent() }}

    {% setcontent quotes = "quotes/latest/100" %}
    <div class="quotes-container">
    {% for quote in quotes %}
        <div class="quote box">
        {% include 'blocks/quote.twig' with {'quote': quote} only %}
        </div>
    {%  endfor %}
    </div>

{% endblock %}

{% block js_files %}
    <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
    <script type="text/javascript">
        $(function ()
        {
            $('.quotes-container').isotope({
                itemSelector : '.quote',
                layoutMode : 'masonry'
            });
        });
    </script>
{% endblock %}